@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  background-color: gray;
  font-family: 'Dancing Script', cursive;
}
p{
  font-family: 'Rubik', cursive;
  font-size: 30px;
  margin: 10px;
}

h3{
  font-size: 60px;
  margin: 0;
  font-weight: 500;
}

.container{
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.list{
  list-style-type: none;
  padding-left: 0;
  border: 1px solid whitesmoke;
  
  
}

.holder{
  width: 400px;
}

.items{
  border-style: solid;
  border-color: white;
  padding: 5px;
  border-width: 1px; border-color: whitesmoke;
  padding-left: 30px;
  font-size: 25px;
  font-family: 'Rubik', cursive;
  
}

.items:hover > .deletebutton{
  visibility: visible;
}



.deletebutton{
  float: right;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(230, 10, 10);
  margin-left: 20px;
  visibility: hidden;

}


.inputbox{
  
  width: 98%;
  border-width: 1px; border-color: rgb(202, 202, 211);
  font-family: 'Rubik', cursive;
  font-weight: 900;
}

footer{
  font-size: 25px;
}
